.carousel-indicators {
    margin-bottom: 0;
}
.carousel-indicators [data-bs-target]{
    background-color: #D9D9D9!important;
    width: 16px;
    height: 16px;
    margin-inline: 13px;
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: #8E8E8E!important;
}

.carousel-item {
    transition: transform 0.9s ease-in-out;
}

/* .scroller::-webkit-scrollbar {
    width: 8px;
}

.scroller::-webkit-scrollbar-track {
  background: rgba(217, 217, 217, 0.10);
}

.scroller::-webkit-scrollbar-thumb {
  background: #D9D9D9;
  width: 4px;
  border: 2px solid #3D414A;
  border-radius: 5px;
}

.scroller::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scroller {
    height: 200px;
    width: 440px;
    overflow: auto;
} */
.scroller {
    overflow: auto;
  }

.scroller::-webkit-scrollbar {
    width: 8px;
  }
.scroller::-webkit-scrollbar-track-piece {
  background: #3C414A;
  border-radius: 4px;
}
.scroller::-webkit-scrollbar-thumb {
  background: #D9D9D9;
  border: solid 2px #3C414A;
  border-radius: 4px;
}
.scroller::-webkit-scrollbar-button:start:increment {
  height: 25%;
  display: block;
  background: transparent;
}
.scroller::-webkit-scrollbar-button:end:increment {
  height: 25%;
  display: block;
  background: transparent;
}