.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.welcomeText{ 
    display: flex;
    align-content: left;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    width: 80%;
    color: #193842;
}

.secondaryText{
    display: flex;
    align-content: left;
    font-size: 20px;
    width: 80%;
    color: #9C9C9C;
}

.statContainer{
    display: flex;
    margin-top: 30px;
    margin-bottom: 40px;
}

.statCard{ 
    display: flex;
    align-items: center;
    border-radius: 9px;
    padding-left: 24px;
    height: 100px;
    padding-right: 30px;
    margin-inline: 60px;
    color: white;
}

.statCardTitle {
    font-size: 25px;
    text-align: left;
    font-weight: 500;
    line-height: 110%;
}

.statCardSubtitle {
    font-size: 16px;
    text-align: left;
    line-height: 110%;
}

.statCard img {
    height: 40px;
    width: 40px;
}

.appointmentContainer {
    background-color: #F2F2F2;
    height: 380px;
    overflow-y: scroll;
    border-radius: 24px;
    filter: drop-shadow(-13px 3px 17px rgba(0, 0, 0, 0.10)) drop-shadow(15px 15px 17px rgba(0, 0, 0, 0.10));
}

h3 {
    color: #0C1320;
    font-size: 20px;
    font-weight: 600;
    margin-left: 40px;
    margin-bottom: 7px;
    text-align: left;
}

.patientTile {
    display: flex;
    align-items: center;
    height: 70px;
    padding-inline: 15px;
    margin-block: 10px;
}

.patientTile img {
    height: 40px;
    width: 40px;
    border-radius: 30px;
}

.patientName {
    font-size: 18px;
    font-weight: 600;
    text-align: start;
}

.patientDescription {
    color: #888888;
    font-size: 16px;
    text-align: start;
}

.patientButton {
    cursor: pointer;
    background-color: #ABD1D3;
    padding-block: 5px;
    padding-inline: 20px;
    border-radius: 15px;
    font-weight: 500;
    color: white;
}

.patientButton:hover {
    background-color: #6c9193;
}