.personalDetails{
    width: 100%;
    display: grid;
    grid: 100px/ auto auto;
    grid-gap:10px;
    /* display: flex; */
    align-items: center;
    /* height: 70px; */
    padding-inline: 15px;
    margin-block: 10px;
   
}
.carousel-container {
    margin-top: 20px;
    width: 330px;
    height: 50px;
   
  
    margin:  auto; /* To center align the carousel */
  }
.overall{
    background-color: #F2F2F2;
    /* height: 380px; */
    width: 70%;
    overflow-y: scroll;
    border-radius: 24px;
    filter: drop-shadow(-13px 3px 17px rgba(0, 0, 0, 0.10)) drop-shadow(15px 15px 17px rgba(0, 0, 0, 0.10));
}
#personalImage{
    width: 90px;
    height: 90px;
}
.healthRecord{
    width: 70%;
    /* display: block; */
    display: flex;
    align-items: center;
    /* height: 70px; */
    /* padding-inline: 15px; */
    margin-block: 10px;
    background-color: #F2F2F2;
    /* height: 380px; */
    overflow-y: scroll;
    border-radius: 24px;
    filter: drop-shadow(-13px 3px 17px rgba(0, 0, 0, 0.10)) drop-shadow(15px 15px 17px rgba(0, 0, 0, 0.10));
}
.mainButton{
    background-color: rgb(241, 144, 79);
    cursor: pointer;
   
    padding-block: 5px;
    padding-inline: 20px;
    border-radius: 15px;
    font-weight: 500;
    border-width: 0;
    color: white;
    
}
.mainButton:hover{
    background-color:  rgb(203, 121, 66);
}
.patientButton {
    cursor: pointer;
    background-color: #ABD1D3;
    padding-block: 5px;
    padding-inline: 20px;
    border-radius: 15px;
    font-weight: 500;
    border-width: 0;
    color: white;
}

.patientButton:hover{
    background-color: #6c9193;
}