
/* Add this to your CSS file */
.package-item__info {
  /* Add your existing styles for package info */
  border-top: 1px solid #EA580C; /* Add a top border with the specified color */
  padding-top: 10px; /* Adjust the padding as needed for spacing */
}



.package-item__name{
  color: #181818;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 83.333% */
  align-items: flex-start;
}

.Card {
  width: 360px;
  height: 285px;
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--white-100, #FFF);
  box-shadow: 3px 4px 14.6px 0px rgba(0, 0, 0, 0.20);
}

