.place-list {
  list-style: none;
 
}
/* Add these styles to your CSS file */
.package-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjust as needed */
  margin: 0 5%; /* Add margin to both sides */
}


.package-item {
  width: 360px;
  height: 285px;
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--white-100, #FFF);
  margin-bottom: 20px; /* Adjust as needed for spacing between packages */
}

