.item {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-bottom: 10px;
}

.text{
    display: inline;
    color: black;

    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;

    width: 219px;
    height: 30px;
}


.svg{
    display: inline;
    width: 32px;
    height: 32px;
    padding: 10px 8px 11px 8px;
    justify-content: center;
    align-items: center;

    border-radius: 200px;
    background: #2DC071;
}