.patientButton ,.prescriptionHeader button{
    cursor: pointer;
    background-color: cadetblue;
    padding-block: 5px;
    padding-inline: 20px;
    border-radius: 15px;
    font-weight: 500;
    border-width: 0;
    color: white;
}

.patientButton:hover,.prescriptionHeader button:hover {
    background-color: #6c9193;
}
.prescriptionDetails{
    width: 100%;
    padding: 10px;
    text-align: left;
    display: flex;
    align-items: center;
    /* height: 70px; */
    padding-inline: 15px;
    margin-block: 10px;
    background-color: #F2F2F2;
    /* height: 380px; */
    overflow-y: scroll;
    border-radius: 24px;
    filter: drop-shadow(-13px 3px 17px rgba(0, 0, 0, 0.10)) drop-shadow(15px 15px 17px rgba(0, 0, 0, 0.10));
    color: #193842;
}
#listPresc{
    /* display: flex; */
    align-items: start;
}
/* PatientDetails.css */

/* Align title and button at the top */

.prescriptionHeader button{
    margin-left: 260px;
    background-color: rgb(241, 144, 79);
    width: 150%;
   
}

.prescriptionHeader button:hover {
    background-color:  rgb(203, 121, 66);
}
.welcomeText{ 
  display: flex;
  align-content: left;
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
  width: 80%;
  color: #193842;
}

  .prescriptionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 10px;
  }
  
  /* Style for the "Prescription" title */
  .prescriptionHeader h3 {
    margin: 0;
  }
  
  /* Style for the "Add New Prescription" button */
  

  /* Align and style prescription items */
  .prescriptionList {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .prescriptionItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
  }
  
  .prescriptionItem p {
    margin-right: 80px;
  }
  
 
  