body{
    background-color: #96B7C7;
    height: 100vh;
    overflow: hidden;
}
.sama3a{
    width:70%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: -100px;
}
.white-box{
    width: 150%;
    height: 68%;
}

#right-col{
    width: 41%;
}