body{
    background-color: #96B7C7;
    height:100vh;
    overflow:hidden;
}
.sama3a{
    width:70%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.white-box{
    width: 110%;
    height:100vh;
}
#right-col {
    height:100vh;
    border-radius: 50px 0 0 50px ;
    background-image: url('../images/Rectangle1.png'); 
    background-size: cover; 
    background-position: center;
  }
.logo{
    text-align: left;
    padding-top: 2rem;
    padding-left: 2rem;
}

.title{
    text-align: center;
    font-size:30px;
    margin-top: 60px;
    margin-bottom: 70px;
}

.create-account{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color:#6B6A6A;
    margin-top: 40px;
}
.signup-link{
    text-decoration: none;
    color: #91B3B5;
}
.signup-link:hover{
    color: #219ca3;
}
.forget-pass{
    font-size: 13px;
    text-decoration: none;
    margin-top: -40px;
}
.forget-password{
    text-align: right;
    padding-right: 130px;
    margin-top: -50px;
    margin-bottom: 40px;
}
