body{
    background-color: #96B7C7;
    height:100vh;
    overflow:hidden;
}
.sama3a{
    width:70%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.white-box{
    width: 110%;
    height:100vh;
}


